<div class="row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create New Session</h5>
                <p class="card-text">New session for some reason</p>
                <a href="#" class="btn btn-primary">New Session</a>
            </div>
        </div>
    </div>

</div>
