@model IEnumerable<GDEWebService.Models.Session>
<div class="row">
    <form name="sessionform" @*action="/Home/addProduct"*@ method="post" onsubmit="required()
    ">
        @*<div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create New Session</h5>
                        <p class="card-text">New session for some reason</p>
                        <a href="#" class="btn btn-primary">New Session</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body" style="justify-content:center;">
                        <h5 class="card-title">Existing Session</h5>
                        <p class="card-text">See existing sessions.</p>
                        <a href="#" class="btn btn-primary">Check Available Session</a>
                    </div>
                </div>
            </div>*@

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body" style="justify-content:center;">
                    <div class="form-group">
                        <label for="SessionIdentifier">Session Identifier</label>
                        <input type="text" maxlength="10" class="form-control" name="SessionIdentifier" id="sid" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Identifier that uniquely identifies a session in RM Assessor</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body" style="justify-content:center;">
                    <div class="form-group">
                        <label for="Name">Session Name</label>
                        <input type="text" class="form-control" name="Name" id="sname" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Friendly session name as display in RM Assessor applications</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body" style="justify-content:center;">
                    <div class="form-group">
                        <label for="Timeframe">Time Frame</label>
                        <input type="text" class="form-control" name="Timeframe" id="stframe" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Non unique code that is returned in the Marks return message eg M08</small>
                    </div>
                </div>
            </div>
        </div>

        @*@foreach (var sess in Model)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@sess.Name</h5>
                            <p class="card-text">@sess.SessionIdentifier : @sess.Timeframe</p>
                            <a href="#" class="btn btn-primary">Select Session</a>
                        </div>
                    </div>
                </div>
            }*@
        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 20px;">
            <button  id="sbtn" class="btn btn-primary">Create Session</button>
        </div>
    </form>

    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px;">
        <div class="card">
            <div class="card-header">
                Existing Sessions
            </div>
            <div class="card-body">
                <div class="card col-lg-4" style="padding:10px;">
                    <div class="form-group">
                        <label>Session Identifier</label>
                        </br>
                        <label>Session Name</label>
                        </br>
                        <label>Session Time Frame</label>
                    </div>
                </div>
                
                <div class="card col-lg-4" style="padding:10px;">
                    <div class="form-group">
                        <label>Session Identifier</label>
                        </br>
                        <label>Session Name</label>
                        </br>
                        <label>Session Time Frame</label>
                    </div>
                </div>
                
                <div class="card col-lg-4" style="padding:10px;">
                    <div class="form-group">
                        <label>Session Indetifier</label>
                        </br>
                        <label>Session Name</label>
                        </br>
                        <label>Session Time Frame</label>
                    </div>
                </div>
            </div>
            </div>
    </div>

</div>

@*<div class="btn-group flex" role="group" style="width: 800px;margin-left: 45%;" aria-label="Basic example">
        <button  type="button" class="btn btn-secondary">Back</button>
        <button onclick="nextUploadproccess()" type="button" class="btn btn-secondary">Next</button>
    </div>*@