@model IEnumerable<GDEWebService.Models.Markers>
@{
    ViewBag.Title = "Marker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Surname</th>
                <th scope="col">Parsal Number</th>
                <th scope="col">Email</th>
                <th scope="col">Assign</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var marker in Model)
            {
                <tr>
                    <td>@marker.Surname</td>
                    <td>@marker.PersalNo</td>
                    <td>@marker.EMail</td>
                    <td class="sendBtn">@Html.ActionLink("Send", "addMarker", "RMWebService", new { persalNumber = marker.PersalNo, surname = marker.Surname, email = marker.EMail }, null)</td>
                </tr>
            }
        </tbody>
    </table>

</div>

